body{
  background-color: blueviolet;
}
.App {
  text-align: center;
}
.white-box{
  background-color: white;
  width:80%;
  height: 80vh;
  margin:auto;
  margin-top:8%;
  border-radius: 5%;
}
.form{padding-top:20%;}

.email{padding:12px;
margin:10px;
border-radius: 5px;
border-width: 1px;
}
.email:focus{background-color:rgba(199, 252, 252, 0.212);
}
.password{padding:12px;
margin:10px;
border-radius: 5px;
border-width: 1px;}
.password:focus{background-color:rgba(199, 252, 252, 0.212);}
.confirmPass{padding:12px;
margin:10px;
border-radius: 5px;
border-width: 1px;}
.confirmPass:focus{background-color:rgba(199, 252, 252, 0.212);}
.check{margin-top:15px;
margin-bottom: 5px;
}
label{
color:dimgray;
}
.submit{ color:white;
border-style: none;
background-color: blueviolet;
padding-top:10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right:20px ;
margin:30px;
border-radius: 5px;}
